body{
  margin: 0px;
  font-family: 'Stardos Stencil', sans-serif;
  font-size: 15px;
  font-color: white;
    /*background-color:#f6f;*/
  background-color:rgb(42%, 66%, 34%);
  background-color: hsl(105deg, 32%, 20%);
}


#title {text-align:center}


h1, h2 {
        font-family:'Stardos Stencil', sans-serif;
        font-size: 30px
       }

div.review-div{
  background-color:;
  margin-left: 75px;
  margin-right: 75px;
  border: solid 3px #DFE0ED;
  border-radius:8px #DFE0ED 3px;
  padding: 4rem;
}

a {
    text-decoration: none; 
    font-weight: 900; 
    color: white;
  
  }

a:hover {
      text-decoration: none; 
      font-weight: 900; 
      color:#080807;
  
        }
 
